body {
  background: #E9EDF2;
  padding: 14px;
  font-family: sans-serif;
  font-size: 16px;
  color: #2E2E2E;
}

.site_title {
  font-size: 28px;
  margin: 12px 0 32px;
  text-align: center;
}

.product {
  margin: 0 auto 25px;
  display: block;
  background-color: #fff;
  border-radius: 17px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
  text-decoration: none;
  overflow: hidden;
  height: 400px;
  max-width: 360px;
}

.product_header {
  padding: 28px 32px 16px;
}

.product_title {
  font-size: 28px;
  font-weight: bold;
  color: #2E2E2E;
  padding-bottom: 5px;
  display: inline-block;
}

.product_price {
  font-size: 28px;
  float: right;
  color: #2E2E2E;
}

.product_description {
  font-size: 18px;
  color: #A79F9F;
  line-height: 1.4em;
  padding: 0 32px 20px;

}

.product_image {
  width: 100%;
}

@media all and (min-width: 768px) {
  .product {
    float: left;
    width: 48%;
  }

  .product:nth-of-type(odd) {
    margin-right: 4%;
  }
}

@media all and (min-width: 1202px) {
  .product {
    margin-right: 0 !important;
  }

  .product:nth-of-type(2),
  .product:nth-of-type(5) {
    margin-right: 2% !important;
    margin-left: 2% !important;
  }
}
