body {
  background: pink;
  font-family: fantasy;
  padding: 25px 50px;
}

.page {
  background-color: white;
  padding: 25px 50px;
  border-radius: 6px;
  box-shadow: 0 10px 15px rgba(16, 26, 58, 0.80);
}

h2 {
  border-bottom: 2px solid green;
  padding-bottom: 10px;
}

p {
  color: purple;
  font-size: 22px;
}
